xsddd_example.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ulak_template">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="data_model" type="xs:string"/>
                            <xs:element name="neId" type="xs:nonNegativeInteger" default="17"/>
                            <xs:element name="tables">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="table" maxOccurs="unbounded" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ConfigDataType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:complexType name="MODULE_NAME">
                                                                    <annotation>
                                                                        <appinfo>
                                                                            <name/>
                                                                            <tableRef>
                                                                                <ref/>
                                                                            </tableRef>
                                                                            <maxEntries/>
                                                                            <minEntries/>
                                                                            <description/>
                                                                            <accessMode/>
                                                                        </appinfo>
                                                                    </annotation>
                                                                    <xs:sequence>
                                                                        <xs:element name="name">
                                                                            <xs:complexType>
                                                                                <annotation>
                                                                                    <appinfo>
                                                                                        <name/>
                                                                                        <description/>
                                                                                        <nullValue/>
                                                                                        <accessMode/>
                                                                                        <name/>
                                                                                        <tableRef>
                                                                                            <ref id="1">
                                                                                                <text>ref</text>
                                                                                            </ref>
                                                                                        </tableRef>
                                                                                        <maxEntries>
                                                                                            <text>3</text>
                                                                                        </maxEntries>
                                                                                        <minEntries>
                                                                                            <text>2</text>
                                                                                        </minEntries>
                                                                                        <description>
                                                                                            <text>desc</text>
                                                                                        </description>
                                                                                        <accessMode>
                                                                                            <text>mode</text>
                                                                                        </accessMode>
                                                                                    </appinfo>
                                                                                    <appinfo>
                                                                                        <name/>
                                                                                        <description/>
                                                                                        <nullValue/>
                                                                                        <accessMode/>
                                                                                        <name/>
                                                                                        <tableRef>
                                                                                            <ref id="1">
                                                                                                <text>ref</text>
                                                                                            </ref>
                                                                                        </tableRef>
                                                                                        <maxEntries>
                                                                                            <text>3</text>
                                                                                        </maxEntries>
                                                                                        <minEntries>
                                                                                            <text>2</text>
                                                                                        </minEntries>
                                                                                        <description>
                                                                                            <text>desc</text>
                                                                                        </description>
                                                                                        <accessMode>
                                                                                            <text>mode</text>
                                                                                        </accessMode>
                                                                                    </appinfo>
                                                                                </annotation>
                                                                                <annotation>
                                                                                    <appinfo>
                                                                                        <name/>
                                                                                        <description/>
                                                                                        <nullValue/>
                                                                                        <accessMode/>
                                                                                        <name/>
                                                                                        <tableRef>
                                                                                            <ref id="1">
                                                                                                <text>ref</text>
                                                                                            </ref>
                                                                                        </tableRef>
                                                                                        <maxEntries>
                                                                                            <text>3</text>
                                                                                        </maxEntries>
                                                                                        <minEntries>
                                                                                            <text>2</text>
                                                                                        </minEntries>
                                                                                        <description>
                                                                                            <text>desc</text>
                                                                                        </description>
                                                                                        <accessMode>
                                                                                            <text>mode</text>
                                                                                        </accessMode>
                                                                                    </appinfo>
                                                                                    <appinfo>
                                                                                        <name/>
                                                                                        <description/>
                                                                                        <nullValue/>
                                                                                        <accessMode/>
                                                                                        <name/>
                                                                                        <tableRef>
                                                                                            <ref id="1">
                                                                                                <text>ref</text>
                                                                                            </ref>
                                                                                        </tableRef>
                                                                                        <maxEntries>
                                                                                            <text>3</text>
                                                                                        </maxEntries>
                                                                                        <minEntries>
                                                                                            <text>2</text>
                                                                                        </minEntries>
                                                                                        <description>
                                                                                            <text>desc</text>
                                                                                        </description>
                                                                                        <accessMode>
                                                                                            <text>mode</text>
                                                                                        </accessMode>
                                                                                    </appinfo>
                                                                                </annotation>
                                                                                <xs:sequence/>
                                                                            </xs:complexType>
                                                                            <xs:complexType>
                                                                                <annotation>
                                                                                    <appinfo>
                                                                                        <name/>
                                                                                        <description/>
                                                                                        <nullValue/>
                                                                                        <accessMode/>
                                                                                        <name/>
                                                                                        <tableRef>
                                                                                            <ref id="1">
                                                                                                <text>ref</text>
                                                                                            </ref>
                                                                                        </tableRef>
                                                                                        <maxEntries>
                                                                                            <text>3</text>
                                                                                        </maxEntries>
                                                                                        <minEntries>
                                                                                            <text>2</text>
                                                                                        </minEntries>
                                                                                        <description>
                                                                                            <text>desc</text>
                                                                                        </description>
                                                                                        <accessMode>
                                                                                            <text>mode</text>
                                                                                        </accessMode>
                                                                                    </appinfo>
                                                                                    <appinfo>
                                                                                        <name/>
                                                                                        <description/>
                                                                                        <nullValue/>
                                                                                        <accessMode/>
                                                                                        <name/>
                                                                                        <tableRef>
                                                                                            <ref id="1">
                                                                                                <text>ref</text>
                                                                                            </ref>
                                                                                        </tableRef>
                                                                                        <maxEntries>
                                                                                            <text>3</text>
                                                                                        </maxEntries>
                                                                                        <minEntries>
                                                                                            <text>2</text>
                                                                                        </minEntries>
                                                                                        <description>
                                                                                            <text>desc</text>
                                                                                        </description>
                                                                                        <accessMode>
                                                                                            <text>mode</text>
                                                                                        </accessMode>
                                                                                    </appinfo>
                                                                                </annotation>
                                                                                <annotation>
                                                                                    <appinfo>
                                                                                        <name/>
                                                                                        <description/>
                                                                                        <nullValue/>
                                                                                        <accessMode/>
                                                                                        <name/>
                                                                                        <tableRef>
                                                                                            <ref id="1">
                                                                                                <text>ref</text>
                                                                                            </ref>
                                                                                        </tableRef>
                                                                                        <maxEntries>
                                                                                            <text>3</text>
                                                                                        </maxEntries>
                                                                                        <minEntries>
                                                                                            <text>2</text>
                                                                                        </minEntries>
                                                                                        <description>
                                                                                            <text>desc</text>
                                                                                        </description>
                                                                                        <accessMode>
                                                                                            <text>mode</text>
                                                                                        </accessMode>
                                                                                    </appinfo>
                                                                                    <appinfo>
                                                                                        <name/>
                                                                                        <description/>
                                                                                        <nullValue/>
                                                                                        <accessMode/>
                                                                                        <name/>
                                                                                        <tableRef>
                                                                                            <ref id="1">
                                                                                                <text>ref</text>
                                                                                            </ref>
                                                                                        </tableRef>
                                                                                        <maxEntries>
                                                                                            <text>3</text>
                                                                                        </maxEntries>
                                                                                        <minEntries>
                                                                                            <text>2</text>
                                                                                        </minEntries>
                                                                                        <description>
                                                                                            <text>desc</text>
                                                                                        </description>
                                                                                        <accessMode>
                                                                                            <text>mode</text>
                                                                                        </accessMode>
                                                                                    </appinfo>
                                                                                </annotation>
                                                                                <xs:sequence/>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
